// Variables

// Base colors
$white:                 #fff;
$black:                 #000;

// Reds
$red:                   #f00e00;

// Greens
$booger:                #8bc34a;

// Greys
$geyser:                #cfd8dc;
$porcelain:             #eceff1;
$shuttleGrey:           #5b666d;
$towerGrey:             #b0bec5;

// Color assignments
$primary-color:         $booger;
$base-font-color:       $shuttleGrey;
$base-background-color: $white;
$heading-color:         $base-font-color;
$error-color:           $red;
